

.wrapperSection4Filter {
    display: flex;
    border: 2px solid green;
}

.product-setting-filter {
    flex: 0 0 20%;
    border: 2px solid red;
}

.product-show {
    flex: 1 1 80%;
    border: 2px solid blue;
}
