<div class="slide-sale">
    <app-container>    
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
              <div class="swiper-slide"><img src="../../../../assets/images/slideSale/dron.webp" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
      
    </app-container>
</div>




  