<app-container class="header-container">
    <div class="header__banner">

      <div class="header__banner-item header__banner-item--image">
         <!-- <img [src]="imageUrl" alt="discount banner" /> -->
         <img [src]="imageUrl" alt="discount banner" />
      </div>

      <div class="header__banner-item header__banner-item--text">
         <!-- <img [src]="imageUrl2" alt="discount banner" /> -->
         <img [src]="imageUrl2" alt="discount banner" />
        
      </div>
      
    </div>
  </app-container>
