<div class="wrapperProductSettingFilter">
  <div id="output">
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

    <ul *ngIf="data.length > 0">
      <li *ngFor="let item of data">
        <strong>ID:</strong> {{ item.id }} <br>
        <strong>Название:</strong> {{ item.name }} <br>
        <strong>Описание:</strong> {{ item.description }} <br>
        <strong>Количество:</strong> {{ item.quantity }} <br>
        <strong>Цена</strong> {{ item.buyPrice.value / 100 }} <br>
        <div *ngIf="item.imageBlobUrl">
          <img [src]="item.imageBlobUrl" alt="Product Image" style="width: 100px; height: auto;">
        </div>
      </li>
    </ul>
    
  </div>
</div>
