<div class="wrapperProductSettingFilter">
  <div id="output">
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <ul *ngIf="data.length > 0">
      <li *ngFor="let item of data">
        <div *ngIf="item.imageBlobUrl">
          <img [src]="item.imageBlobUrl" alt="Product Image" style="width: 100px; height: auto;">
        </div>
        <strong></strong> {{ item.name }} <br>
        <strong>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </strong> 0 <br>
        <strong>Цена</strong> {{ item.buyPrice.value / 100 }} <br>
        
      </li>
    </ul>
    
  </div>
</div>
