<div class="container2">
  <div class="wrapperFormRegister">
    <div id="googleSignInButton"></div>
    <h4> New Customers</h4>
    <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
    
     
    <div class="mb-3">
      <label for="formControlInputName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="formControlInputName" placeholder="first name">
    </div>

    <div class="mb-3">
      <label for="formControlInputNamev2" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="formControlInputNamev2" placeholder="last name">
    </div>
     
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Sign Up for Newsletter
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Allow remote shopping assistance
      </label>
    </div>
     
  </div>
    
</div>
