.header {
  display: flex;
  flex-direction: column;
  height: 35%;

  &__banner {
    height: auto;
    display: flex;
    background-image: url("../../../assets/images/promo/partent-top.jpg");
    background-size: cover;
    background-position: center;

    &__item {
      position: relative;

      &--image {
        flex: 1 1 50%;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &--text {
        flex: 1 1 50%;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    border: 4px solid rgb(0, 255, 149);

    &__title {  
      border: 4px solid blue;
    }

    &__currency {
      display: flex;
      justify-content: space-between;
      border: 4px solid rgb(128, 0, 6);
    }
  }

  &__utilities {
    display: flex;

    &__logo {
      /* Стили для логотипа */
    }

    &__search-form {
      /* Стили для формы поиска */
    }

    &__login {
      /* Стили для входа */
    }

    &__registration {
      /* Стили для регистрации */
    }
  }

  &__menu {
    display: flex;

    &__menu-section {
      /* Стили для секций меню */
    }
  }
}
