<header class="header">
  <app-container class="header-container">
    <div class="header__banner">

      <div class="header__banner-item header__banner-item--image">
        <img [src]="imageUrl" alt="discount banner" />
      </div>

      <div class="header__banner-item header__banner-item--text">
        <img [src]="imageUrl2" alt="discount banner" />
      </div>
      
    </div>
  </app-container>
  <app-container>
    <div class="header-options">
      <div class="header-options__title">
        <p>Welcome to Martfury Online Store!</p>
      </div>

      <div class="header-options__currency">
        <div class="header-options__currency-location">
          <a href="#">Store Location</a>
        </div>

        <div class="header-options__currency-track">
          <a href="#">Track Order</a>
        </div>

        <!-- The button for selecting the currency -->
        <div class="header-options__currency-select">
          <mat-select [(value)]="selected">
            <mat-option value="option1">USD</mat-option>
            <mat-option value="option2">TJ</mat-option>
            <mat-option value="option3">RU</mat-option>
          </mat-select>
        </div>

        <!-- Language selection button -->
        <div class="header-options__language-select">
          <mat-select [(value)]="selected">
            <mat-option value="option1">English</mat-option>
            <mat-option value="option2">Spanish</mat-option>
            <mat-option value="option3">French</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="header__utilities">
      <div class="header__utilities-logo">
        <img src="" alt="logo" />
      </div>
      <div class="header__utilities-search-form">
        <div class="header__utilities-search-form-input-group input-group mb-3">
          <input
            type="text"
            class="header__utilities-search-form-input form-control"
            placeholder="I`m looking for..."
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="header__utilities-search-form-button btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >
            Search
          </button>
        </div>
      </div>
      <div class="header__utilities-icons">
        <i class="header__utilities-icon bi bi-heart"></i>
        <i class="header__utilities-icon bi bi-handbag"></i>
        <div class="header__utilities-user">
          <i class="header__utilities-icon bi bi-person"></i>
          <div class="header__utilities-user-actions">
            <div class="header__utilities-login">
              <a href="#">Log in</a>
            </div>
            <div class="header__utilities-  ">
              <a href="#">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
  </app-container>
<div class="wrapperHeader__menu">
  <app-container>
    <div class="header__menu">
      <div class="header__menu-left">
        <i class="bi bi-list">Shop By Department</i> 
      </div>
      <div class="header__menu-center">Menu Section</div>
      <div class="header__menu-right">Hotline: 1-800-234-5678</div>
    </div>
  </app-container>

</div>
</header>