/* Стили для блока header__banner */
.header__banner {
  height: auto;
  display: flex;
  justify-content: space-between;
  
  background-size: cover;
  background-position: center;
  cursor: pointer;

  &__item {
    position: relative;

    &--image {
      flex: 1 1 50%;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &--text {
      flex: 1 1 50%;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.header-options {
  display: flex;
  justify-content: space-between;
  border: 4px solid red;
  

  &__title {
    display: flex;
    align-items: center;
    border: 4px solid rgb(0, 255, 85);
    flex: 0 0 40%;
    
    
  }

  &__currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid rgb(128, 0, 6);
    color: black;
    flex: 0 0 40%;
    a {
      text-decoration: none;
      color: black;
    }

    &-location {
      /* Стили для ссылки "Store Location" */
    }

    &-track {
      /* Стили для ссылки "Track Order" */
    }

    &-select {
      /* Стили для кнопки выбора валюты */
    }
  }

  &__language-select {
    /* Стили для кнопки выбора языка */
  }
}


/* Стили для блока header__utilities */
.header__utilities {
  display: flex;

  &__logo {
    /* Стили для логотипа */
  }

  &__search-form {
    /* Стили для формы поиска */
  }

  &__login {
    /* Стили для входа */
  }

  &__registration {
    /* Стили для регистрации */
  }
}

/* Стили для блока header__menu */
.header__menu {
  display: flex;

  &__menu-section {
    /* Стили для секций меню */
  }
}


::ng-deep app-container {
  
  background-image: url("../../../assets/images/promo/partent-top.jpg");
}