/* Base styles for the header block */
.header {
  display: flex;
  flex-direction: column;
  height: 35%;

  &__banner {
    height: auto;
    display: flex;
    background-image: url("../../../assets/images/promo/partent-top.jpg");
    background-size: cover;
    background-position: center;
    

    &-item {
      position: relative;
      /* Общие стили для элементов баннера */

      &--image {
        
        flex: 1 1 50%;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &--text {
        
        flex: 1 1 50%;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }

  &__options {
    display: flex;
    /* Другие стили для options */

    &__language {
      /* Стили для языковой опции */
    }

    &__currency {
      /* Стили для валютной опции */
    }

    &__additional-options {
      /* Стили для дополнительных опций */
    }
  }

  &__utilities {
    display: flex;
    /* Другие стили для utilities */

    &__logo {
      /* Стили для логотипа */
    }

    &__search-form {
      /* Стили для формы поиска */
    }

    &__login {
      /* Стили для входа */
    }

    &__registration {
      /* Стили для регистрации */
    }
  }

  &__menu {
    display: flex;
    /* Другие стили для menu */

    &__menu-section {
      /* Стили для секций меню */
    }
  }
}
