<header class="header"> 
  <app-header-section1-banner></app-header-section1-banner>

  <app-container>
    <app-header-section2-option></app-header-section2-option>
    <app-header-section3-utilities></app-header-section3-utilities>

  </app-container>



<div class="wrapperHeader__menu">
  <app-container>
    <div class="header__menu">
      <div class="header__menu-left">
        <i class="bi bi-list">Shop By Department</i> 
      </div>
      <div class="header__menu-center">Menu Section</div>
      <div class="header__menu-right">Hotline: 1-800-234-5678</div>
    </div>
  </app-container>

</div>


</header>