<div class="wrapperProduct">
    <div class="wrapperBreadcrumb">
        <app-container>
            <div class="breadcrumb">
                <app-breadcrumb-navigation></app-breadcrumb-navigation>
            </div>        
        </app-container>   
    </div>
    <div class="wrapperSectionSlide">
        <app-container>
            <app-product-section1-slide></app-product-section1-slide>
        </app-container>
    </div>
    <app-container>
        <app-product-section2-our-partners></app-product-section2-our-partners>
        <app-product-section3-category-electronics></app-product-section3-category-electronics>
        <app-product-section4-filter></app-product-section4-filter>
    </app-container>
    

</div>



<router-outlet></router-outlet> 
