<section class="our-advantages">
    <app-container class="app-container">
      <div class="our-advantages__content">
        <div class="our-advantages__item">
          <div class="our-advantages__icon">
            <i class="bi bi-rocket-takeoff"></i>
          </div>
          <div class="our-advantages__title">
            <div class="our-advantages__title-row1">Free Delivery</div>
            <div class="our-advantages__title-row2">
              For all orders over $99
            </div>
          </div>
        </div>

        <div class="our-advantages__item">
          <div class="our-advantages__icon">
            <i class="bi bi-arrow-counterclockwise"></i>
          </div>
          <div class="our-advantages__title">
            <div class="our-advantages__title-row1">90 Days Return</div>
            <div class="our-advantages__title-row2">
              If goods have problems
            </div>
          </div>
        </div>

        <div class="our-advantages__item">
          <div class="our-advantages__icon">
            <i class="bi bi-credit-card-2-front"></i>
          </div>
          <div class="our-advantages__title">
            <div class="our-advantages__title-row1">Secure Payment</div>
            <div class="our-advantages__title-row2">100% secure payment</div>
          </div>
        </div>

        <div class="our-advantages__item">
          <div class="our-advantages__icon">
            <i class="bi bi-wechat"></i>
          </div>
          <div class="our-advantages__title">
            <div class="our-advantages__title-row1">24/7 Support</div>
            <div class="our-advantages__title-row2">Dedicated support</div>
          </div>
        </div>
      </div>
    </app-container>
  </section>
