<div class="wrapperMain">
    <div>
        <section class="product-slide">
            <div class="slide-content">
              <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../../assets/images/slider/slider1-1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../../assets/images/slider/slider2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </section>
<!--   -----------------------------------------------------------------         -->
<section class="our-advantages">
  <app-container class="app-container">
    <div class="our-advantages__content">
      <div class="our-advantages__item">
        <div class="our-advantages__icon">
          <i class="bi bi-rocket-takeoff"></i>
        </div>
        <div class="our-advantages__title">
          <div class="our-advantages__title-row1">Free Delivery</div>
          <div class="our-advantages__title-row2">For all orders over $99</div>
        </div>
      </div>

      <div class="our-advantages__item">
        <div class="our-advantages__icon">
          <i class="bi bi-arrow-counterclockwise"></i>
        </div>
        <div class="our-advantages__title">
          <div class="our-advantages__title-row1">90 Days Return</div>
          <div class="our-advantages__title-row2">If goods have problems</div>
        </div>
      </div>

      <div class="our-advantages__item">
        <div class="our-advantages__icon">
          <i class="bi bi-credit-card-2-front"></i>
        </div>
        <div class="our-advantages__title">
          <div class="our-advantages__title-row1">Secure Payment</div>
          <div class="our-advantages__title-row2">100% secure payment</div>
        </div>
      </div>

      <div class="our-advantages__item">
        <div class="our-advantages__icon">
          <i class="bi bi-wechat"></i>
        </div>
        <div class="our-advantages__title">
          <div class="our-advantages__title-row1">24/7 Support</div>
          <div class="our-advantages__title-row2">Dedicated support</div>
        </div>
      </div>
    </div>
  </app-container>
</section>

            

            
          
         

          <section class="sale">
            <div class="sale-content">
              
              
            </div>
          </section>

          <section class="date-sale">
            <div class="slide-content">
              
            </div>
          </section>

          <section class="slide-sale">
            <div class="slide-content">
              
            </div>
          </section>


          <section class="Clothing_&_Apparel">
            <div class="Clothing_&_Apparel-content">
              
            </div>
          </section>

    </div>



</div>
