<div class="wrapperMain">
  <div>
    <app-section1-product-slide></app-section1-product-slide>
    <app-section2-our-advantages></app-section2-our-advantages>
    <app-section3-sale></app-section3-sale>


    <section class="date-sale">
      <div class="slide-content"></div>
    </section>

    <section class="slide-sale">
      <div class="slide-content"></div>
    </section>

    <section class="Clothing_&_Apparel">
      <div class="Clothing_&_Apparel-content"></div>
    </section>
  </div>
</div>
