<div class="wrapperMain">
  <div>
    <app-section1-product-slide></app-section1-product-slide>
    <app-section2-our-advantages></app-section2-our-advantages>
    <app-section3-sale></app-section3-sale>
    <app-section4-show-reverse-time-sale></app-section4-show-reverse-time-sale>
    <app-section5-slide-sale></app-section5-slide-sale>
    <app-section6-clothing-apparel></app-section6-clothing-apparel>
    <app-section7-computer-techologies></app-section7-computer-techologies>
    <app-section8-consumer-electric></app-section8-consumer-electric>
  </div>
</div>
