<div class="wrapperHeader__menu">
    <app-container>
      <div class="header__menu">
        <div class="header__menu-left">
          <i class="bi bi-list"></i>
          <app-app-menu></app-app-menu>
          
        </div>

        <div class="header__menu-center">
         <app-menu-home-layout></app-menu-home-layout>
         <app-menu-category></app-menu-category>
         <app-menu-product></app-menu-product>
         <app-menu-blog></app-menu-blog>

         
         <button mat-button>Contact</button>    
        

        </div>
        <div class="header__menu-right">
           <i class="bi bi-telephone"></i>&nbsp; Hotline: +992 92 700 XX XX</div>
      </div>
    </app-container>
  
