<div class="wrapperHeader__menu">
    <app-container>
      <div class="header__menu">
        <div class="header__menu-left">
          <i class="bi bi-list"></i>
          <app-app-menu></app-app-menu>
          
        </div>

        <div class="header__menu-center">
         <app-menu-home-layout></app-menu-home-layout>
         <app-menu-category></app-menu-category>
         <app-menu-product></app-menu-product>
         <app-menu-blog></app-menu-blog>
        </div>
        <div class="header__menu-right">Hotline: 1-800-234-5678</div>
      </div>
    </app-container>
  
