<app-container>
    <div >
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
          <div class="col mb-4">
            <h5>Contact Us</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Call us 24/7</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">1800 97 97 69</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">502 New Design Str, Melbourne, Australia</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> contact artfury.com </a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            </ul>
          </div>
    
          <div class="col mb-3">
            <h5>Support</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support Center</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Term & Conditions</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shipping</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Return</a></li>
            </ul>
          </div>
    
          <div class="col mb-3">
            <h5>Company</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Team Member</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Carrer</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Affilate</a></li>
            </ul>
          </div>
    
          <div class="col mb-3">
            <h5>MartFury Bussiness</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sell on MartFury</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Advertises on Martfury</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Affiliate Program</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Partnership</a></li>
              
            </ul>
          </div>
        </footer>
      </div>
</app-container>


