<section class="sale">
  <app-container>
    <div class="sale-content">
      <div class="sale-content__item">
        <div class="sale-content__title">
          <p class="sale-content__product-name">Iphone 9 32Gb</p>
          <p class="sale-content__description">Experience with best smartphone on the world</p>
        </div>
        <div class="sale-content__img">
          
        </div>
      </div>

      <div class="sale-content__item">
        <div class="sale-content__title">
          <p class="sale-content__product-name">Iphone 9 32Gb</p>
          <p class="sale-content__description">Experience with best smartphone on the world</p>
        </div>
        <div class="sale-content__img">
          
        </div>
      </div>


      <div class="sale-content__item">
        <div class="sale-content__title">
          <p class="sale-content__product-name">Iphone 9 32Gb</p>
          <p class="sale-content__description">Experience with best smartphone on the world</p>
        </div>
        <div class="sale-content__img">
          
        </div>
      </div>
    </div>

    
  </app-container>
    
  </section>
