<section class="clothingApparel">
  <app-container>
    <div class="clothingApparel-content">
      <div class="box-right">
        <div  class="menu">
          <p>Clothing & Apparel</p>
          <a href="">Best Seller</a>
          <a href="">New Arrivals</a>
          <a href="">Women</a>
          <a href="">Men</a>
          <a href="">Girls</a>
          <a href="">Boys</a>
          <a href="">Baby</a>
          <a href="">Sales & Deals</a>
        </div>
        <div class="banner_sale">

        </div>
      </div>
      <div class="product_card">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </app-container>
</section>
