@import "variables.scss";

.section6-container {
    background: $background-color;
    
    border: 2px solid transparent;
    .container-section6-container{        
        margin-top: 40px;
        
        
    }
}


.clothing-apparel {
    display: flex;
    justify-content: space-between;
    
    background:  white;
    &__menu-banner {
        display: flex;
        justify-content: space-between;
    }

    &__menu-list {
        display: block;
        flex-direction: column;
        
        a {
            display: flex;
            margin-bottom: 10px;
            text-decoration: none;
            color: #333;
            margin: 4px;
            border: 1px solid red;
        }
    }

    &__menu-title {
        font-size: 18px;
        font-weight: bold;
    }

    &__menu-link {
        color: #333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__banner {
        background: url("../../../../assets/images/catalog/Promotions-01-2x.jpg");
        background-size: cover;
        width: 300px;
        height: 600px;
    }

    &__product-cards {        
        display: flex;
        flex-wrap: wrap;        
    }

    &__product-card {
       
    }
}

/*-----------------slide--------------------------*/

.swiper {
    
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important; 

    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $background-color;
}


.swiper-wrapper {
   
    .swiper-slide:nth-child(1) .product-card_foto {
     background: url('../../../../assets/images/layout05/s03.jpg');
     background-size: cover;
     height: 100%;
     width: 100%;
     flex: 1 1 70%;

     border: 2px solid green;
    }
    .swiper-slide:nth-child(1) {
        
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .product-card_info {
            width: 100%;
            border: 2px solid green;
            flex: 1 1 30%;
        }
       }
  
    .swiper-slide:nth-child(2) .product-card_foto {
      
    }
  
    .swiper-slide:nth-child(3) .product-card_foto {
      
    }
  
    .swiper-slide:nth-child(4) .product-card_foto {
      
    }
  
    
    .swiper-slide:nth-child(5) .product-card_foto {
      
    }
  }