<section class="section6-container">
  <app-container>
    <div class="clothing-apparel">
      <div class="clothing-apparel__menu-banner">
        <div class="clothing-apparel__menu-list">
          <p class="clothing-apparel__menu-title">Clothing & Apparel</p>
          <div>
            <a href="#" class="clothing-apparel__menu-link">Best Seller</a>
          </div>
          <div>
            <a href="#" class="clothing-apparel__menu-link">New Arrivals</a>
          </div>
          <div><a href="#" class="clothing-apparel__menu-link">Women</a></div>
          <div><a href="#" class="clothing-apparel__menu-link">Men</a></div>
          <div><a href="#" class="clothing-apparel__menu-link">Girls</a></div>
          <div><a href="#" class="clothing-apparel__menu-link">Boys</a></div>
          <div><a href="#" class="clothing-apparel__menu-link">Baby</a></div>
          <div>
            <a href="#" class="clothing-apparel__menu-link">Sales & Deals</a>
          </div>
        </div>
        <div class="clothing-apparel__banner"></div>
      </div>

      <div class="swiper section6Swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card_foto"></div>
            <div class="product-card_info">
              <div class="title"></div>
              <div class="rating"></div>
              <div class="price"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-container>

  <div class="clothing-apparel__product-card"></div>
</section>
