<div class="wrapperProductSettingFilter">
  <b> {{'GATEGORY' | translate }} </b>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="M320-680q17 0 28.5-11.5T360-720q0-17-11.5-28.5T320-760q-17 0-28.5 11.5T280-720q0 17 11.5 28.5T320-680Zm120 0q17 0 28.5-11.5T480-720q0-17-11.5-28.5T440-760q-17 0-28.5 11.5T400-720q0 17 11.5 28.5T440-680Zm40 440q63 0 107.5-43T632-388q0-29-10-56.5T592-492L480-604 372-496q-22 22-33.5 50T328-388q2 62 46 105t106 43Zm0-76q-30 0-51-21t-21-51q0-15 5.5-28.5T430-441l50-50 49 49q11 11 17 25t6 29q0 30-21 51t-51 21ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640H240v640Zm0 0v-640 640Z"
            />
          </svg>
          {{'CONSUMER_ELECTRIC' | translate }}
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <ul>
          <li>
            <div class="accordion accordion-flush" id="accordionFlush2">
              <div class="accordion-item">
                <div class="accordion-header">
                  <div
                    class="accordion collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne1"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne1"
                  >
                    <b>{{'ELECTRONICS' | translate }}</b>  <i class="bi bi-caret-down-fill"></i>
                  </div>
                </div>
                <div
                  id="flush-collapseOne1"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlush2"
                >
                <ul>
                  <li><div class="accordion">{{'HOME_AUDIO_THEATERS' | translate }}</div></li>
                  <li><div class="accordion">{{'TV_VIDEO' | translate }}</div></li>
                  <li><div class="accordion">{{'CAMERA_PHOTOS_VIDEOS' | translate }}</div></li>
                  <li><div class="accordion">Headphones</div></li>
                  <li><div class="accordion">Videogames</div></li>
                  <li><div class="accordion">Wirless Speakers</div></li>
                  <li><div class="accordion">Car Electronics</div></li>
                  <li><div class="accordion">Electronics Showcase</div></li>
                </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="accordion accordion-flush" id="accordionFlush3">
              <div class="accordion-item">
                <div class="accordion-header">
                  <div
                    class="accordion collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne3"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne3"
                  >
                    <b>Accessories & Parts </b> <i class="bi bi-caret-down-fill"></i>
                  </div>
                </div>

                <div
                  id="flush-collapseOne3"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlush3"
                >
                  <ul>
                    <li><div class="accordion">Digital Cables</div></li>
                    <li><div class="accordion">Audio & Video Cables</div></li>
                    <li><div class="accordion">Camera, Photos & Videos</div></li>
                    <li><div class="accordion">Batteries</div></li>
                    <li><div class="accordion">Charger</div></li>                    
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--------------------Organic---------------------------------------------------->
  <div class="accordion">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="M480-120q-117 0-198.5-81.5T200-400q0-94 55.5-168.5T401-669q-20-5-39-14.5T328-708q-33-33-42.5-78.5T281-879q47-5 92.5 4.5T452-832q23 23 33.5 52t13.5 61q13-31 31.5-58.5T572-828q11-11 28-11t28 11q11 11 11 28t-11 28q-22 22-39 48.5T564-667q88 28 142 101.5T760-400q0 117-81.5 198.5T480-120Zm0-80q83 0 141.5-58.5T680-400q0-83-58.5-141.5T480-600q-83 0-141.5 58.5T280-400q0 83 58.5 141.5T480-200Zm0-200Z"
      />
    </svg>
    {{'ORGANIK' | translate }}
  </div>
  <!------------------- accordionFlushHome  ----------------------------------------------------->
  <div class="accordion accordion-flush" id="accordionFlushHome">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseHome"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="M120-80v-80h320v80H120Zm560-40q-33 0-56.5-23.5T600-200H480q-17 0-28.5-11T440-239q-2-90 56-156.5T640-476v-404h80v404q87 14 144.5 80.5T920-239q0 17-11.5 28T880-200H760q0 33-23 56.5T680-120Zm-440-80v-320H80q-20 0-32-15.5T41-570l75-280q4-13 14.5-21.5T155-880h250q14 0 24.5 8.5T444-850l75 280q5 19-7 34.5T480-520H320v320h-80Zm284-80h312q-12-54-56-87t-100-33q-55 0-99 33t-57 87ZM132-600h296l-53-200H186l-54 200Zm148-100Zm400 360Z"
            />
          </svg>
          Home, Garden & Kitchen
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapseHome"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushHome"
      >
        <ul>
          <li>
            <div class="accordion">furniture</div>
          </li>
          <li>
            <div class="accordion">Home Decor</div>
          </li>
          <li>
            <div class="accordion">Cookware</div>
          </li>
          <li>
            <div class="accordion">Utensils & Gadget</div>
          </li>
          <li>
            <div class="accordion">Gaden Tools</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-------------------- accordionFlushClothing ---------------------------------------------------->
  <div class="accordion accordion-flush" id="accordionFlushClothing">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseClothing"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="m240-522-40 22q-14 8-30 4t-24-18L66-654q-8-14-4-30t18-24l230-132h70q9 0 14.5 5.5T400-820v20q0 33 23.5 56.5T480-720q33 0 56.5-23.5T560-800v-20q0-9 5.5-14.5T580-840h70l230 132q14 8 18 24t-4 30l-80 140q-8 14-23.5 17.5T760-501l-40-20v361q0 17-11.5 28.5T680-120H280q-17 0-28.5-11.5T240-160v-362Zm80-134v456h320v-456l124 68 42-70-172-100q-15 51-56.5 84.5T480-640q-56 0-97.5-33.5T326-758L154-658l42 70 124-68Zm160 177Z"
            />
          </svg>
          {{'CLOTHING_APPAREL' | translate }}
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapseClothing"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushClothing"
      >
        <ul>
          <li>
            <div class="accordion">Women</div>
          </li>
          <li>
            <div class="accordion">Men</div>
          </li>
          <li>
            <div class="accordion">Girls</div>
          </li>
          <li>
            <div class="accordion">Boys</div>
          </li>
          <li>
            <div class="accordion">Baby</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!---------------------Jewelry & Watches--------------------------------------------------->
  <div class="accordion">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="M480-120 80-600l120-240h560l120 240-400 480Zm-95-520h190l-60-120h-70l-60 120Zm55 347v-267H218l222 267Zm80 0 222-267H520v267Zm144-347h106l-60-120H604l60 120Zm-474 0h106l60-120H250l-60 120Z"
      />
    </svg>
    {{'JEWELRY_WATCHES' | translate }}
  </div>
  <!---------------------Babies & moms--------------------------------------------------->

  <div class="accordion accordion-flush" id="accordionFlushBabies">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseBabies"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="M240-400h480v-120H400v-200h-80q-33 0-56.5 23.5T240-640v240Zm240 240q20 0 40-2.5t40-7.5v-150H400v150q20 5 40 7.5t40 2.5Zm0 80q-80 0-153-30.5T197-197l57-57q15 15 31.5 27.5T320-203v-117h-80q-33 0-56.5-23.5T160-400v-240q0-66 47-113t113-47h160v200h240q33 0 56.5 23.5T800-520v120q0 33-23.5 56.5T720-320h-80v117q18-11 34.5-23.5T706-254l57 57q-57 56-130 86.5T480-80Zm-80-440Z"
            />
          </svg>
          {{'BABIES_MOMS' | translate }}
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapseBabies"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushBabies"
      >
        <ul>
          <li>
            <div class="accordion">Eat & Drink for Baby</div>
          </li>
          <li>
            <div class="accordion">Apparels for Baby</div>
          </li>
          <li>
            <div class="accordion">Baby Out</div>
          </li>
          <li>
            <div class="accordion">Pregnancy & Maternity</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--------------------Sport & Outdoor---------------------------------------------------->

  <div class="accordion">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="M780-120q-25 0-42.5-17.5T720-180q0-25 17.5-42.5T780-240q25 0 42.5 17.5T840-180q0 25-17.5 42.5T780-120ZM400-80q-100 0-170-23.5T160-160q0-23 33-41t87-29v70h80v-720l320 156-240 124v362q86 5 143 26.5t57 51.5q0 33-70 56.5T400-80Z"
      />
    </svg>
    {{'SPORT_OUTDOOR' | translate }}
  </div>

  <!--------------------Phone---------------------------------------------------->

  <div class="accordion accordion-flush" id="accordionFlushPhone">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapsePhone"
          aria-expanded="false"
          aria-controls="flush-collapsePhone"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="M400-160h160v-40H400v40ZM280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm0-80h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"
            />
          </svg>
          {{'PHONES_ACCESSORIES' | translate }}
          <i class="bi bi-caret-down-fill"></i>
          <i class="bi bi-caret-up-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapsePhone"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushPhone"
      >
        <ul>
          <li>
            <div class="accordion accordion-flush" id="accordionFlush2">
              <div class="accordion-item">
                <div class="accordion-header">
                  <div
                    class="accordion collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne1"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne1"
                  >
                    <b>Smart Phones</b> <i class="bi bi-caret-down-fill"></i>
                  </div>
                </div>

                <div id="flush-collapseOne1" class="accordion collapse" data-bs-parent="#accordionFlush2">
                  <ul>
                    <li><div class="">IOS Phones</div></li>
                    <li><div class="">Android Phones</div></li>
                    <li><div class="">Window Phones</div></li>
                    <li><div class="">Other Smartphones</div></li>
                  </ul>
                </div>
                
              </div>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="accordion accordion-flush" id="accordionFlush3">
              <div class="accordion-item">
                <div class="accordion-header">
                  <div
                    class="accordion collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne3"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne3"
                  >
                    <b>Accessories</b> <i class="bi bi-caret-down-fill"></i>
                  </div>
                </div>
                <div id="flush-collapseOne3" class="accordion-collapse collapse" data-bs-parent="#accordionFlush3">
                  
                  <ul>
                    <li> <div class="accordion">Headphones</div></li>
                    <li><div class="accordion">Lighting Cables</div></li>
                    <li><div class="accordion">Memory Cards</div></li>
                    <li><div class="accordion">Others</div></li>
                    <li><div class="accordion">Ear-Phones</div></li>
                    <li><div class="accordion">Phone Components</div></li>
                  </ul>
                  
                </div>
                
                
                
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--------------------Health & Beauty---------------------------------------------------->

  <div class="accordion accordion-flush" id="accordionFlushHealth">
    <div class="accordion-item">
      <div class="accordion-header">
        <div
          class="accordion collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseHealth"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path
              d="M480-480Zm0 360q-18 0-34.5-6.5T416-146L148-415q-35-35-51.5-80T80-589q0-103 67-177t167-74q48 0 90.5 19t75.5 53q32-34 74.5-53t90.5-19q100 0 167.5 74T880-590q0 49-17 94t-51 80L543-146q-13 13-29 19.5t-34 6.5Zm40-520q10 0 19 5t14 13l68 102h166q7-17 10.5-34.5T801-590q-2-69-46-118.5T645-758q-31 0-59.5 12T536-711l-27 29q-5 6-13 9.5t-16 3.5q-8 0-16-3.5t-14-9.5l-27-29q-21-23-49-36t-60-13q-66 0-110 50.5T160-590q0 18 3 35.5t10 34.5h187q10 0 19 5t14 13l35 52 54-162q4-12 14.5-20t23.5-8Zm12 130-54 162q-4 12-15 20t-24 8q-10 0-19-5t-14-13l-68-102H236l237 237q2 2 3.5 2.5t3.5.5q2 0 3.5-.5t3.5-2.5l236-237H600q-10 0-19-5t-15-13l-34-52Z"
            />
          </svg>
         {{'HEALTH_BEAUTY' | translate }}
          <i class="bi bi-caret-down-fill"></i>
        </div>
      </div>

      <div
        id="flush-collapseHealth"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushHealth"
      >
        <ul>
          <li>
            <div class="accordion">Makeup</div>
          </li>
          <li>
            <div class="accordion">Skin Care</div>
          </li>
          <li>
            <div class="accordion">Hair Care</div>
          </li>
          <li>
            <div class="accordion">Tools & Equipments</div>
          </li>
          <li>
            <div class="accordion">Perfumer & Cologine</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--------------------Books & Office---------------------------------------------------->

  <div class="accordion">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#5f6368"
    >
      <path
        d="M320-320h480v-480h-80v280l-100-60-100 60v-280H320v480Zm0 80q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm360-720h200-200Zm-200 0h480-480Z"
      />
    </svg>
   {{'BOOKS_OFFICE' | translate }}
  </div>
</div>
