<nav aria-label="breadcrumb" class="nav">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
      <a *ngIf="breadcrumb.url; else noLink" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      <ng-template #noLink>{{ breadcrumb.label }}</ng-template>
    </li>
  </ol>
</nav>

<h1>Test</h1>

<div *ngIf="breadcrumbs.length === 0">
  <p>No breadcrumbs available.</p>
</div>
<div *ngIf="breadcrumbs.length > 0">
  <p>Current breadcrumbs: {{ breadcrumbs | json }}</p>
</div>

