:host {     
    display: block;
  margin: 0 auto; /* Центрирование контейнера */
  padding: 0 60px; /* Отступы слева и справа */
  max-width: 100%; /* Максимальная ширина контейнера */
  box-sizing: border-box;
  
  }